html {
  cursor: url(../images/cursor.png), auto;
}

body {
  font: 1.2em "Emulogic", "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black; 
}

a {
  cursor: url(../images/pointer.png), auto;
}

button {
  font-family: "Emulogic";
  background-color: transparent;
  border: none;
  color: white;
  cursor: url(../images/pointer.png), auto;
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;

  
}
button:hover {
  color: #00ff00; /*green */
  border: none;
}
button:focus {
  outline: none;
}

header,
footer {
  text-align: center;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: .8em;
  margin-bottom: 20px;
  
}

.menu-list {
  padding-top: 100px;
  display: block;
}
.menu-list, li {
  list-style: none;
  line-height: 3.4em;
}

.roundContainer {
  font-size: 80%;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}


#front {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
#front * {
  flex: auto;
  text-align: center;
}
#front p {
  text-align: center;
}

#wait {
  text-align: center;
}
#wait h3 {
  font-size: 1.4em;
  padding: 40px 0;
  line-height: 2em;
}





#game {
  display: flex;
}
#game div {
  flex: auto;
  text-align: center;
  width: 50%;
}
#game div h1 {
  font-size: 1.6rem;
}





#weaponOpponent img {
  transform: scaleX(-1);
}
#result {
  /*color: dimgrey;*/
  text-align: center;
  font-style: italic;
}
#messages {
  text-align: center;
  color: darkred;
}
#weapon-selector {
  border-top: solid white 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background-color: whitesmoke;*/
  padding: 10px 0;
  /*box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);*/
  padding-bottom: 40px;
  z-index: 5000;
  background-color: black;

}
#weapon-selector h1{
  margin: 0 auto;
  background: black;
  margin-top: -22px;
  margin-bottom: 40px;
  max-width: 300px;
  font-size: 1rem;
}

#weapon-selector ul li{
  display: inline-block;
}


#weapon-selector img {
   cursor: url(../images/pointer.png), auto;
}
#weapon-selector a {
  margin: 0 5px;
}
.score {
  display: flex;

  /*background-color: whitesmoke;*/
}
.score div {
  flex: auto;
  text-align: center;
  width: 50%;
}

.energy-div {
  display: flex;
  /*background-color: whitesmoke;*/
}
.energy-div div {
  flex: auto;
  text-align: center;
  width: 50%;
}

.your-energy {

}

.your-energy h2 {
  float: left;
}

.opponents-energy {
  
}

.opponents-energy h2 {
  float: right;
}

.rounds {
  text-align: center;
  padding: 14px 20px;
  border-bottom: solid white 1px;
  /*color: dimgrey;*/
}


.your-score {

}
.your-score h1 {
  font-size: 2.6rem;
  float: left;
}

.opponents-score {

}

.opponents-score h1 {
  font-size: 2.6rem;
  float: right;
}

.name-div {
  
}
.your-name {
}

.your-name h1 {
  float: left;
  color: #3399FF;
  font-size: 1.3rem;
}

.opponents-name  {
 
}
.opponents-name h1 {
   color: #FF3333; /*red*/
   font-size: 1.3rem;
   float: right;
}

.your-weapon {
  
}

.your-weapon p{
  float: left;
  
}

.opponents-weapon {
  
}

.opponents-weapon p {
  float: right;
  
}






.hide {
  display: none;
}
.win {
  color: #00ff00;
}
.lose {
  color: #FF3333;
}

.invite-url {
  color: #3399FF;
}



.purple {
  color: #FF00FF; /*purple */
}


.attack-icon {
  background: none;
}

.attack-icon-empty{
  -webkit-filter: invert(100%);
  display: none;
}

#attack-empty {
  display: none;
}

.hide {
  display:none;
}

.show{
  display:block;
}






@font-face {
  font-family: 'Emulogic';
  src: url('../fonts/Emulogic/Emulogic.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Emulogic/Emulogic.woff') format('woff'), 
    url('../fonts/Emulogic/Emulogic.ttf')  format('truetype'), 
    url('../fonts/Emulogic/Emulogic.svg#Emulogic') format('svg');
  font-weight: normal;
  font-style: normal;
}


