html {
  cursor: url(../images/cursor.jpg), auto;
}

body {
  font: 1.2em "Emulogic", "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black; 
}

a {
  cursor: url(../images/cursor.jpg), auto;
}

button {
  font-family: "Emulogic";
  background-color: transparent;
  border: none;
  color: white;
  cursor: url(../images/cursor.jpg), auto;
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 400;

  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;

  
}
button:hover {
  color: #00ff00; /*green */
}

header,
footer {
  text-align: center;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: .8em;
  margin-bottom: 20px;
  
}

.menu-list {
  padding-top: 100px;
  display: block;
}
.menu-list, li {
  list-style: none;
  line-height: 3.4em;
}

.roundContainer {
  font-size: 80%;
}
#front {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
#front * {
  flex: auto;
  text-align: center;
}
#front p {
  text-align: center;
}

#wait {
  text-align: center;
}
#wait h3 {
  font-size: 1.4em;
  padding: 40px 0;
  line-height: 2em;
}



#game {
  display: flex;
}
#game div {
  flex: auto;
  text-align: center;
  width: 50%;
}
#weaponOpponent img {
  transform: scaleX(-1);
}
#result {
  /*color: dimgrey;*/
  text-align: center;
  font-style: italic;
}
#messages {
  text-align: center;
  color: darkred;
}
#weapon-selector {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background-color: whitesmoke;*/
  padding: 10px 0;
  /*box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);*/
  margin-bottom: 40px;
}
#weapon-selector div {
  margin-bottom: 20px;
}
#weapon-selector img {
 
}
#weapon-selector a {
  margin: 0 5px;
}
.score {
  display: flex;
  /*background-color: whitesmoke;*/
}
.score div {
  flex: auto;
  text-align: center;
  width: 50%;
}
.rounds {
  text-align: center;
  padding: 10px 20px;
  /*color: dimgrey;*/
}
.hide {
  display: none;
}
.win {
  color: green;
}
.lose {
  color: red;
}

.invite-url {
  color: #3399FF;
}

.you {
  color: #FF00FF; /*purple */
}

.opponent {
  color: #FF3333; /*red*/
}

.blue {
  color: #3399FF;
}


.attack-icon {
  background: none;
}




@font-face {
  font-family: 'Emulogic';
  src: url('../fonts/Emulogic/Emulogic.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Emulogic/Emulogic.woff') format('woff'), 
    url('../fonts/Emulogic/Emulogic.ttf')  format('truetype'), 
    url('../fonts/Emulogic/Emulogic.svg#Emulogic') format('svg');
  font-weight: normal;
  font-style: normal;
}


